h1, h2{
    text-align: center;
}
body.index .blurb{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 247, 255);
    color: rgb(24, 4, 4);
    text-align: center;
    border-color: rgb(43, 27, 63);
    border-style: dotted;
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto 20px auto;
    max-width: 500px;
    line-height: 150%;
    font-size: 14px;

    }

    .banner {
        height: 120px;
        background-color: rgb(88, 85, 105);
        border-width: 2px;
        border-color: rgb(43, 27, 63);
        border-style: solid;
    }

    .topnav {
    overflow: hidden;
    background-color: #ff2c00;
    }

    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22x;

    }

    .topnav a:hover {
    border-bottom: 5px solid rgb(20, 120, 151);
    }

    .topnav a.active {
    background-color: rgb(255, 130, 46);
    color: white;
    }

    #logo{
        width: 250px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .signup{
        background: linear-gradient(225deg, rgb(255, 130, 46), #ff2c00, red);
        border-bottom: 5px solid linear-gradient(225deg, rgb(255, 130, 46), #ff2c00, red);
    }

    .footer{
        width: 100%;
        background-color: rgb(88, 85, 105);
        padding: 50px 0;
        text-align: center;
        border-width: 2px;
        border-color: rgb(43, 27, 63);
        border-style: solid;
      }
      
      .footer .copyright{
        color: #fff;
        font-size: 10px;
      }