<h1>Thanks for visiting</h1>
<h2>But this website is currently under construction! We plan to add the following features:</h2>
<div class="blurb">
    <ul>
        <li>Discord bot integration</li>
        <li>Secure credit card payments using Stripe</li>
        <li>Twilio automated SMS</li>
        <li>Email automation using Mailgun</li>
        <li>A chatroom platform for people to commune with an worship the glory of the hat</li>
        <li>A full constitution of our beliefs and bi-laws</li>
        <li><a href="https://github.com/bkmaibach/cotwh-webapp">This is an open source project, come check it out on GitHub!</a></li>
    </ul>
    <h1>Check back soon!</h1>
</div>
